# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/astra?retryWrites=true&w=majority

# Port (Render automatically sets this, 5000 is used for local dev)
PORT=5000
